<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magenest" translate="magenest" sortOrder="500">
            <label>Magenest</label>
        </tab>
        <section id="clockconfiguration" translate="label" type="text"
                 sortOrder="100" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Clock Configuration</label>
            <tab>magenest</tab>
            <resource>Magenest_Clock::clock_configuration</resource>
            <group id="clockpage" translate="label" type="text"
                   sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Default Clock</label>
                <field id="title_clock" translate="label"
                       type="text" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Title Clock</label>
                </field>
                <field id="size_clock" translate="label"
                       type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Size Clock</label>
                    <source_model>Magenest\Clock\Model\Config\Source\ClockSize</source_model>
                </field>
                <field id="color_clock" translate="label"
                       type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Color Clock</label>
                    <frontend_model>Magenest\Clock\Block\Color</frontend_model>
                </field>
                <field id="text_color" translate="label"
                       type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Text Color</label>
                    <frontend_model>Magenest\Clock\Block\Color</frontend_model>
                </field>
                <field id="clock_type" translate="label"
                       type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Clock Type</label>
                    <frontend_model>Magenest\Clock\Block\Adminhtml\Form\Field\ClockType</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>